# 编译产物
Debug/
Release/
build/
*.o
*.a
*.so
*.elf
*.hex
*.bin
*.axf

# 链接器产物
*.map
*.lst
*.d

# IDE 文件
.vscode/
.idea/
.project
.cproject
.settings/
*.code-workspace
.clang-format

# 编辑器临时文件
*.swp
*.swo
*~
*.bak
*.tmp

# 系统文件
.DS_Store
Thumbs.db

# CubeMX 临时文件
CubeMX.log

# 如果不想保留自动生成的库（可选）
# Drivers/
# Middlewares/
# Startup/
